.chart-container {
    display: grid;
    grid-template-columns: repeat(3,449.33px);
    gap: var(--spacing-5);
}

.chart-container > .chart-component {
    width: var(--component-width);
    height: 216px;
    border-radius: var(--border-radius-2);
    background-color: var(--white);
    box-shadow: 0px 74px 21px rgba(222,222,222,0.000),
                0px 47px 19px rgba(222,222,222,0.010), 
                0px 27px 16px rgba(222,222,222,0.030), 
                0px 12px 12px rgba(222,222,222,0.040), 
                0px 3px 7px rgba(222,222,222,0.050);
}