.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 8.7rem; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4); 
}

/* Modal Content */
.modal-content {
  background-color: #FFFFFF;
  margin: auto;
  padding: 1.25rem;
  border: 1px solid #888;
  width: 636.12px;
  height: 449px;
  border-radius: 0.5rem;
}

/* Modal Close Button */
.close {
  float: right;
}

.close:hover, .close:focus {
  cursor: pointer;
}