.project-dropdown,
.sprint-dropdown {
    height: 48px;
    background-color: transparent;
    border-radius: var(--border-radius-2);
    border: 1px solid var(--g100);
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-3);
}

.project-dropdown,
.sprint-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-dropdown > p,
.sprint-dropdown > p {
    font-size: var(--label);
}

.project-dropdown-options-container,
.sprint-dropdown-options-container {
    width: var(--component-width);
    height: 196px;
    border-radius: var(--border-radius-2);
    background-color: var(--white);
    padding: var(--spacing-4);
    box-shadow: 0px 74px 21px rgba(222,222,222,0.000),
                0px 47px 19px rgba(222,222,222,0.010), 
                0px 27px 16px rgba(222,222,222,0.030), 
                0px 12px 12px rgba(222,222,222,0.040), 
                0px 3px 7px rgba(222,222,222,0.050);
}

.project-dropdown-options-container {
    position: absolute;
    top: 74px;
    left: 22px;
}

.sprint-dropdown-options-container {
    position: absolute;
    top: 74px;
    left: 22px;
}

.sprint-dropdown-options-container {
    position: absolute;
}

.project-dropdown-options-container .search-bar-container,
.sprint-dropdown-options-container .search-bar-container {
    border: 1px solid black;
    width: 417.33px;
    height: 40px;
    border-radius: var(--border-radius-1);
    border: 2px solid var(--g100);
    display: flex;
    align-items: center;
    padding: var(--spacing-3) var(--spacing-2);
    gap: var(--spacing-3);
    margin-bottom: var(--spacing-4);
}

.project-dropdown-options-container .search-bar-container .search-input,
.sprint-dropdown-options-container .search-bar-container .search-input {
    width: 417.33px;
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: var(--caption-regualar-drop-down);
    color: var(--g100);
    outline: none;
}

.project-dropdown-options-container .project-dropdown-options,
.sprint-dropdown-options-container .sprint-dropdown-options {
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
}

.project-dropdown-options-container .project-dropdown-options > div,
.sprint-dropdown-options-container .sprint-dropdown-options > div {
    height: 18px;
    width: 18px;
    border-radius: var(--border-radius-1);
}

.project-dropdown-options-container .project-dropdown-options > div {
    background-color: var(--on-track);
}

.sprint-dropdown-options-container .sprint-dropdown-options > div {
    background-color: var(--critical-status);
}

.project-dropdown-options-container .project-dropdown-options > p,
.sprint-dropdown-options-container .sprint-dropdown-options > p {
    font-size: var(--base-regular);
}

.sprint-duration-container .date-chart-container {
    display: flex;
    gap: var(--spacing-3);
    align-items: center;
    height: 48px;
}

.sprint-duration-container .date-chart-container p {
    width: 229.33px;
    color: var(--g100);
    font-weight: var(--font-weight-semi-bold);
}

.sprint-duration-container .date-chart-container .sprint-duration-chart-container {
    border: 1px solid green;
    width: 208px;
}