.highlights-container {
    display: grid;
    grid-template-columns: repeat(3, var(--component-width));
    gap: var(--spacing-5);
    margin-bottom: var(--spacing-5);
}

.highlights-container h4 {
    margin-bottom: var(--spacing-1);
}

.highlights-container > .highlight-component {
    width: var(--component-width);
    height: 129px;
    border-radius: var(--border-radius-2);
    background-color: var(--white);
    padding: var(--spacing-4);
    overflow: hidden;
    box-shadow: 0px 74px 21px rgba(222,222,222,0.000),
                0px 47px 19px rgba(222,222,222,0.010), 
                0px 27px 16px rgba(222,222,222,0.030), 
                0px 12px 12px rgba(222,222,222,0.040), 
                0px 3px 7px rgba(222,222,222,0.050);
}

.project-hightlights-list,
.sprint-hightlights-list,
.milestones-list,
.team-members-list,
.resources-list {
    width: 417.33px;
    height: 65px;
    overflow: hidden;
}

.project-hightlights-list li,
.sprint-hightlights-list li,
.milestones-list li {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    margin-bottom: var(--spacing-1);
}

.resources-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-2);
}

.resources-icon-name-container {
    display: flex;
    gap: var(--spacing-2);
}

.resources-quantity-container {
    height: 20px;
    width: 24px;
    border-radius: 100px;
    background-color: var(--neutral-color);
    text-align: center;
}

.project-hightlights-list,
.sprint-hightlights-list,
.milestones-list,
.resources-list > li {
    font-size: var(--base-regular);
}

.technical-debt > p {
    font-size: var(--base-regular);
    color: var(--g200);
}

.team-members-list li {
    display: flex;
    gap: var(--spacing-2);
    margin-bottom: var(--spacing-2);
}

.team-members-list .team-members-title {
    font-size: var(--base-medium);
}

.team-members-list .team-members-subtitle {
    font-size: var(--caption-regular);
    color: var(--g100);
}
