#milestonesListView {
  display: block;
}

#milestonesGraphicalView {
  display: none;
}

.title-capsule-heading {
  display: flex;
  gap: var(--spacing-2);
}

.timeline {
  padding-top: 8px;
  position: relative;
}

#dropdownListOptions{
  height: 80px;
  bottom: -81px;
}

.timeline li {
  list-style: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.timeline li:before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 24px;
  margin: 0 auto 10px auto;
  background: #d9d9d9;
  color: #252525;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.timeline li:after {
  content: "";
  position: absolute;
  /* width: 100%; */
  width: calc(100% - 24px);
  height: 2px;
  background-color: #d9d9d9;
  top: 12px;
  left: -38.5%;
  transition: all ease-in-out 0.3s;
}

.timeline li:first-child:after {
  content: none;
}

.timeline li.active:before {
  background-color: #252525;
  background-image: url("../assets/Tick.svg");
  background-position: center;
}

.timeline li.active + li:after {
  background: #252525;
}

