@import "./css/font.css";
@import "./css/variables.css";
@import "./css/reset.css";
@import "./css/base.css";

.project-sprint-container {
  display: flex;
  gap: var(--spacing-5);
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-6-3);
}

.project-sprint-container>.component-div {
  width: var(--component-width);
}

.project-container,
.sprint-container,
.sprint-duration-container {
  display: flex;
  flex-direction: column;
}

.project-container,
.sprint-container {
  position: relative;
}

.project-sprint-container .title-container {
  display: flex;
  gap: var(--spacing-5);
  margin-bottom: var(--spacing-1);
}

.project-sprint-container .title-container p {
  font-size: var(--label);
  font-weight: var(--font-weight-bold);
}

.project-status-pill {
  background-color: var(--on-track);
}

.sprint-status-pill {
  background-color: var(--critical-status);
}

.project-dropdown,
.sprint-dropdown {
  height: 48px;
  background-color: transparent;
  border-radius: var(--border-radius-2);
  border: 1px solid var(--g100);
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}

.project-dropdown,
.sprint-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-dropdown>p,
.sprint-dropdown>p {
  font-size: var(--label);
}

.project-dropdown-options-container,
.sprint-dropdown-options-container {
  width: var(--component-width);
  height: 196px;
  border-radius: var(--border-radius-2);
  background-color: var(--white);
  padding: var(--spacing-4);
  box-shadow: 0px 74px 21px rgba(222, 222, 222, 0),
    0px 47px 19px rgba(222, 222, 222, 0.01),
    0px 27px 16px rgba(222, 222, 222, 0.03),
    0px 12px 12px rgba(222, 222, 222, 0.04),
    0px 3px 7px rgba(222, 222, 222, 0.05);
}

.project-dropdown-options-container,
.sprint-dropdown-options-container {
  position: absolute;
  top: 75px;
  left: 0;
}

.sprint-dropdown-options-container {
  position: absolute;
}

.project-dropdown-options-container .search-bar-container,
.sprint-dropdown-options-container .search-bar-container {
  border: 1px solid var(--primary-black);
  width: 417.33px;
  height: 40px;
  border-radius: var(--border-radius-1);
  border: 2px solid var(--g100);
  display: flex;
  align-items: center;
  padding: var(--spacing-3) var(--spacing-2);
  gap: var(--spacing-3);
  margin-bottom: var(--spacing-4);
}

.project-dropdown-options-container .search-bar-container .search-input,
.sprint-dropdown-options-container .search-bar-container .search-input {
  width: 417.33px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: var(--caption-regualar-drop-down);
  color: var(--g100);
  outline: none;
}

.project-dropdown-options-container .project-dropdown-options,
.sprint-dropdown-options-container .sprint-dropdown-options {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.project-dropdown-options-container .project-dropdown-options>div,
.sprint-dropdown-options-container .sprint-dropdown-options>div {
  height: 18px;
  width: 18px;
  border-radius: var(--border-radius-1);
}

.project-dropdown-options-container .project-dropdown-options>div {
  background-color: var(--on-track);
}

.sprint-dropdown-options-container .sprint-dropdown-options>div {
  background-color: var(--critical-status);
}

.project-dropdown-options-container .project-dropdown-options>p,
.sprint-dropdown-options-container .sprint-dropdown-options>p {
  font-size: var(--base-regular);
}

.sprint-duration-container .date-chart-container {
  display: flex;
  gap: var(--spacing-3);
  align-items: center;
  height: 48px;
}

.sprint-duration-container .date-chart-container p {
  width: 229.33px;
  color: var(--g100);
  font-weight: var(--font-weight-semi-bold);
}

.sprint-duration-container .date-chart-container .sprint-duration-chart-container {
  border: 1px solid var(--primary-black);
  width: 208px;
}

.status-capsule {
  width: 67px;
  border-radius: var(--border-radius-3);
  font-size: var(--caption-regular);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-status-pill {
  background-color: var(--on-track);
}

.sprint-status-pill {
  background-color: var(--critical-status);
}

.highlights-container {
  display: grid;
  grid-template-columns: repeat(3, var(--component-width));
  gap: var(--spacing-5);
  margin-bottom: var(--spacing-5);
}

.highlights-container h4 {
  margin-bottom: var(--spacing-1);
}

.highlights-container>.highlight-component {
  width: var(--component-width);
  height: 129px;
  border-radius: var(--border-radius-2);
  background-color: var(--white);
  padding: var(--spacing-4);
  overflow: hidden;
  box-shadow: 0px 74px 21px rgba(222, 222, 222, 0),
    0px 47px 19px rgba(222, 222, 222, 0.01),
    0px 27px 16px rgba(222, 222, 222, 0.03),
    0px 12px 12px rgba(222, 222, 222, 0.04),
    0px 3px 7px rgba(222, 222, 222, 0.05);
}

.project-hightlights-list,
.sprint-hightlights-list,
.milestones-list,
.team-members-list,
.resources-list {
  width: 417.33px;
  height: 65px;
  overflow: hidden;
}

.project-hightlights-list li,
.sprint-hightlights-list li,
.milestones-list li {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  margin-bottom: var(--spacing-1);
}

.resources-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-2);
}

.resources-icon-name-container {
  display: flex;
  gap: var(--spacing-2);
}

.resources-quantity-container {
  height: 20px;
  width: 24px;
  border-radius: 100px;
  background-color: var(--neutral-color);
  text-align: center;
}

.project-hightlights-list,
.sprint-hightlights-list,
.milestones-list,
.resources-list>li {
  font-size: var(--base-regular);
}

.technical-debt>p {
  font-size: var(--base-regular);
  color: var(--g200);
}

.team-members-list li {
  display: flex;
  gap: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}

.team-members-list .team-members-title {
  font-size: var(--base-medium);
}

.team-members-list .team-members-subtitle {
  font-size: var(--caption-regular);
  color: var(--g100);
}

.chart-container .upper-charts-container {
  display: grid;
  grid-template-columns: repeat(3, 449.33px);
  gap: var(--spacing-5);
  margin-bottom: var(--spacing-5);
}

.chart-container .lower-charts-container {
  display: grid;
  grid-template-columns: repeat(3, 684px);
  gap: var(--spacing-5);
}

.chart-container .chart-component {
  height: var(--chart-component-height);
  border-radius: var(--border-radius-2);
  background-color: var(--white);
  overflow: hidden;
  box-shadow: 0px 74px 21px rgba(222, 222, 222, 0),
    0px 47px 19px rgba(222, 222, 222, 0.01),
    0px 27px 16px rgba(222, 222, 222, 0.03),
    0px 12px 12px rgba(222, 222, 222, 0.04),
    0px 3px 7px rgba(222, 222, 222, 0.05);
}

.chart-container .upper-charts-container>.chart-component {
  width: var(--component-width);
}

.chart-container .lower-charts-container>.chart-component {
  width: var(--lower-chart-component-width);
}

.disc {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-black);
  display: inline-block;
}

.title-capsule-container {
  display: flex;
  gap: var(--spacing-2);
  margin-bottom: var(--spacing-1);
}

.title-capsule-container>span {
  width: 60px;
  height: 24px;
  color: var(--g200);
  background-color: var(--neutral-color);
}

.highlights-container {
  display: flex;
  flex-wrap: wrap;
}

.highlight-component h4 {
  font-size: var(--base-font-size-h4);
  font-weight: 600;
  line-height: var(--base-line-height-h4);
}

.highlight-component ul,
.highlight-component p.technical-debt-content,
.highlight-component p.resource-name,
.highlight-component p.team-members-title {
  font-size: var(--base-font-size-paragraph);
  font-weight: 400;
  line-height: var(--base-line-height-paragraph);
}

.highlight-component p.team-members-title {
  font-weight: 500;
}

.highlight-component p.team-members-subtitle {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
}

.highlight-component.resizable {
  /* Normal width is 449.33px */
  min-width: 200px;
  max-width: 1347.99px;
  /* Normal height is 129px */
  min-height: 129px;
  max-height: 387px;
}



.highlight-component.resizable:hover {
  resize: both;
  overflow: hidden;
  width: var(--component-width);
  margin: 0px;
  border: 1px solid #ccc;
  padding: var(--spacing-4);
  box-sizing: border-box;
}

.highlight-component .project-highlights,
.highlight-component .sprint-highlights,
.highlight-component .milestone-highlights,
.highlight-component .resource-highlights,
.highlight-component .member-highlights {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-hightlights-list,
.sprint-hightlights-list,
.milestones-list,
.resources-list,
.team-members-list {
  flex: 1;
  overflow-y: auto;
}


.chart-container .upper-charts-container {
  display: flex;
  flex-wrap: wrap;
}

.chart-component.resizable:hover {
  resize: both;
  overflow: hidden;
  width: var(--component-width);
  max-width: auto;
  max-height: auto;
  margin: 0;
  border: 1px solid #ccc;
  padding: 16px;
  box-sizing: border-box;
  white-space: normal;
}

.chart-container .lower-charts-container {
  display: flex;
  flex-wrap: wrap;
}

.lower-charts-container>.chart-component.resizable:hover {
  resize: both;
  overflow: hidden;
  width: var(--lower-chart-component-width);
  max-width: auto;
  max-height: auto;
  margin: 0;
  border: 1px solid #ccc;
  padding: 16px;
  box-sizing: border-box;
  white-space: normal;
}
