@import "./css/font.css";
@import "./css/variables.css";
@import "./css/reset.css";
@import "./css/base.css";
@import "./css/project-sprint.css";
@import "./css/dropdown.css";
@import "./css/highlights.css";
@import "./css/chart.css";

.status-capsule {
    width: 67px;
    border-radius: var(--border-radius-3);
    font-size: var(--caption-regular);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-status-pill {
    background-color: var(--on-track);
}

.sprint-status-pill {
    background-color: var(--critical-status);
}

.disc{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-black);
    display: inline-block;
}

.title-capsule-container {
    display: flex;
    gap: var(--spacing-2);
    margin-bottom: var(--spacing-1);
}

.title-capsule-container > span {
    width: 60px; 
    height: 24px; 
    color: var(--g200); 
    background-color: var(--neutral-color);
}

